/* Fonts were taken from this source: https://blogfonts.com/futura-pt.font */

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #949494;
  background-color:#F9F8F8; 
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 27px;
  border: none;
  background: none;
  background-color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Section Heading */

.section-heading{
  margin: 0;
  margin-bottom: 80px;
  font-size: 40px;
  line-height: 1.2;
  color: #920000;
  text-align: center;
}

/* Inner Heading */

.inner-heading{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #333333;
}

/* --------------------Site Header----------------- */

.site-header-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #F9F8F8;
}

.site-header-top-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 178px;
}

.clinic-address{
  display: flex;
  align-items: center;
  font-style: normal;
  margin-right: 8px;
}

.phone-numbers{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  margin-left: 20px;
}

.phone-link{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.phone-link:hover{
  color: #920000;
}

.phone-link:active{
  color: #333333;
  opacity: 0.5;
}

.dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 9px;
  background-color: #920000;
}

.working-hours{
  display: flex;
  align-items: center;
}

.working-hours span{
  display: inline-block;
}

.working-hours span:not(:last-child){
  margin-right: 17px;
}

/* Site Navigation */

.site-nav{
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-bottom: none;
}

.site-nav-content{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo-link-wrapper{
  display: flex;
  align-items: center;
  width: 178px;
}

.logo-link{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.5;
}

.logo{
  width: 180px;
  height: 180px;
  display: block;
}

/* nav menu */

.nav-menu{
  display: flex;
  justify-content: center;
  max-width: calc(100% - 388px);
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-item{
  display: flex;
  flex-direction: column;
}

.nav-link{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 19px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.nav-link:hover{
  color: #fff;
  background-color: #920000;
}

.nav-link:active{
  opacity: 0.5;
}

.btn-ask-question{
  align-self: center;
  display: flex;
  max-height: 60px;
  align-items: center;
  color: #333333;
  background-color: transparent;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.btn-ask-question:hover{
  color: #fff;
  background-color: #920000;
}

.btn-ask-question:active{
  opacity: 0.5;
}

.nav-link-active{
  background-color: #920000;
  color: #fff;
}

/* Promo Section */

.promo-section{
  
  padding-top: 100px;
  padding-bottom: 50px;
}

.promo-section-content{
  display: flex;
  justify-content: space-between;
}

.promo-img{
  width: 576px;
  object-fit: cover;
}

.promo-info{
  max-width: 600px;
  margin-left: 50px;
}

.page-heading{
  margin: 0;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 1.2;
  color: #333333;
}

.page-heading span{
  color: #920000;
  display: inline-block;
}

.page-info{
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.btn-our-services{
  min-width: 180px;
  max-width: 180px;
  padding: 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease,
  opacity 0.3s ease,
  color 0.3s ease;
}

.btn-our-services:hover{
  background-color: #920000;
}

.btn-our-services:active{
  opacity: 0.5;
}

/* Feature Section */

.feature-section {
  padding: 50px 0;
  background-color: #eee;
}

.feature-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__left{
  max-width: 650px;
  margin-right: 30px;
}

.feature-section__heading {
  position: relative;
  padding-top: 58px;
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
}

.feature-section__heading::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 4px;
  background-color: #920000;
  content: "";
}

.feature__img{
  width: 650px;
  height: 396px;
}

.feature-section__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.feature-section__item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.feature__name {
  margin-top: 0;
  margin-bottom: 15px;
  color: #920000;
}

.feature__text {
  margin: 0;
  color: #333;
  font-size: 16px;
}


/* Comments Section */

.comments-section{
  padding: 50px 0;
}

.comments-section-content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section-content h2{
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.comments-section-heading{
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
}

.comments-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.comment-wrapper{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.comment-avatar{
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 1px solid #920000;
}

.comment{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #949494;
}

.comment-author{
  margin: 0;
  font-weight: 500;
  color: #920000;
  text-align: center;
}

/* Services Section */

.services-section{
  padding: 50px 0;
}

.services-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section-heading{
  margin-top: 0;
  margin-bottom: 80px;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style-type: none;
}

.services-item{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 15px;
  margin-left: 15px;
}

.services-link{
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  white-space: wrap;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.services-link::before{
  display: block;
  width: 160px;
  height: 120px;
  margin-bottom: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

/* https://pixabay.com/photos/stethoscope-doctor-medical-1584223/ */
.services-consultation::before{
  background-image: url(../img/consultation.jpg);
}

/* https://pixabay.com/photos/surgery-hospital-doctor-operation-3034133/ */
.services-surgery::before{
  background-image: url(../img/surgery.jpg);
}

/* https://pixabay.com/photos/dentist-dental-care-dental-check-up-428645/ */
.services-dentistry::before{
  background-image: url(../img/dentistry.jpg);
}

/* https://pixabay.com/photos/laboratory-analysis-chemistry-2815641/ */
.services-labaratory::before{
  background-image: url(../img/labaratory.jpg);
}

/* https://pixabay.com/photos/acne-pimples-spots-zits-skin-5561750/ */
.services-dermatology::before{
  background-image: url(../img/dermatalogy.jpg);
}

/* https://pixabay.com/photos/head-massage-treatment-relaxation-650878/ */
.services-spa::before{
  background-image: url(../img/spa.jpg);
}

.services-link span{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-link:hover span{
  color: #920000;
}

.services-link:active{
  opacity: 0.5;
}

/* ------------------Site Footer------------------ */

.site-footer{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #F3F3F3;
}

.site-footer-content{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-nav-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav-item{
  min-width: 150px;
  margin-bottom: 14px;
}

.footer-nav-link{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.footer-nav-link:hover{
  color: #920000;
  background-color: transparent;
}

.footer-nav-link:active{
  opacity: 0.5;
}

.footer-nav-header{
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  color: #920000;
}

.footer-middle{
  margin: 0 30px;
}

.footer-working-hours{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer-clinic-address{
  position: relative;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #333333;
}

.footer-phone-numbers{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: start;
}

.footer-phone-numbers a{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.footer-phone-numbers a:not(:last-child){
  margin-bottom: 4px;
}

.footer-phone-numbers a:hover{
  color: #920000;
}

.footer-phone-numbers a:active{
  color: #333333;
  opacity: 0.5;
}

.footer-socials{
  display: flex;
  padding: 0;
  margin: 0 -8px;
  list-style-type: none;
}

.footer-socials-item{
  padding: 0 8px;
}

.footer-link-active{
  color: #920000;
}

.footer-link-active:hover,
.footer-link-active:active{
  background-color: transparent;
  opacity: 1;
}

.footer-rights{
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  text-align: right;
}

/* ================= SERVICES ======================= */

.services-hero {
  padding: 50px 0;
  margin-top: 50px;
  background-image: url("../img/service-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(30% + 455px) center;
  background-size: contain;
}

.services-hero-info {
  padding: 50px 0;
  max-width: 450px;
  margin-left: 120px;
}

.services-services{
  padding: 50px 0;
}

.services__list {
  max-width: 100%;
  display: flex;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  width: 400px;
  flex-shrink: 0;
  margin: 0 20px;
  margin-bottom: 37px;
  padding: 50px 22px  45px 50px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  transition: filter ease 0.3s;
  display: flex;
  flex-direction: column;
}

.service:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

/* https://pixabay.com/photos/stethoscope-doctor-medical-1584223/ */
.service::before {
  width: 180px;
  height: 100px;
  content: '';
  display: inline-block;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/consultation.jpg");
}

/* https://pixabay.com/photos/surgery-hospital-doctor-operation-3034133/ */
.service:nth-child(2):before {
  background-image: url("../img/surgery.jpg");
}

/* https://pixabay.com/photos/dentist-dental-care-dental-check-up-428645/ */
.service:nth-child(3):before {
  background-image: url("../img/dentistry.jpg");
}

/* https://pixabay.com/photos/laboratory-analysis-chemistry-2815641/ */
.service:nth-child(4):before {
  background-image: url("../img/labaratory.jpg");
}

/* https://pixabay.com/photos/acne-pimples-spots-zits-skin-5561750/ */
.service:nth-child(5):before {
  background-image: url("../img/dermatalogy.jpg");
}

/* https://pixabay.com/photos/head-massage-treatment-relaxation-650878/ */
.service:nth-child(6):before {
  background-image: url("../img/spa.jpg");
}

/* https://pixabay.com/photos/investigation-stethoscope-to-listen-2458540/ */
.service:nth-child(7):before {
  background-image: url("../img/pediatrics.jpg");
}

/* https://pixabay.com/photos/psychology-psyche-mask-wire-rack-2706902/ */
.service:nth-child(8):before {
  background-image: url("../img/psychology.jpg");
}

.service__name {
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  width: 100%;
  color: #333333;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 14px;
  word-break: break-word;
  color: #112149;
}

.service__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
}

.service:hover .service__text{
  color: #920000;
}

/* ==================== CONTACTS ===================== */
.contacts-hero {
  margin-top: 50px;
  padding: 50px 0;
  background-image: url("../img/contacts-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(75% + 120px) center;
  background-size: auto 50%;
}

.contacts-hero-info{
  max-width: 450px;
  margin-left: 140px;
  margin-bottom: 30px;
}

.contacts__address {
  display: flex;
  margin-left: 100px;
}

.contacts__company-adress {
  width: 153px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.contacts__company-adress::before, 
.contacts__worktime::before, 
.contacts__contact::before {
  height: 96px;
  width: 96px;
  display: inline-block;
  margin-bottom: 30px;
  content: '';
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.contacts__company-adress::before {
  background-image: url("../img/location.png");
}

.contacts__worktime {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
}

.contacts_worktime-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  margin: 0;
}

.contacts_worktime-text + .contacts_worktime-text {
  margin-top: 8px;
}

.contacts_worktime-text span {
  font-weight: 500;
}

.contacts__worktime::before {
  background-image: url("../img/calendar.png");
}

.contacts__contact{
  display: flex;
  flex-direction: column;
}

.contacts__telnumbers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__telnumber-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: right;
  text-decoration: none;
  color: #333333;
}

.contacts__contact::before {
  background-image: url("../img/phone.png");
}

.contacts__telnumber-link:hover{
  color: #920000;
}

.contacts__telnumber-link:active{
  opacity: 0.6;
}

.contacts-location{
  padding: 50px 0;
}

.contacts-map {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.company-img {
  flex-shrink: 1;
}

/* ====================== FAQ ====================*/

.faq-main {
  margin: 50px 0;
  background-image:  url("../img/faq-bg.svg");
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: calc(50% + 250px) 0px;
}

.faq-container {
  padding-top: 120px;
  padding-left: 100px;
  padding-bottom: 100px;
}

.faq__heading {
  font-size: 70px;
  line-height: 1.2;
  margin-top: 0;
  color: #920000;
  margin-bottom: 27px;
}

.faq__hero-text {
  max-width: 450px;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  color: #000;
  margin-bottom: 35px;
}

/* TIPS */

.tips__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #333;
  background-image: url("../img/medicine.svg");
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: right bottom;
}

.tips__item {
  max-width: 80%;
  background-color: #fff;
  padding: 30px 60px;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #000;
}

.faq__time {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 28px;
  color: #112149;
}

.tip__heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 10px;
  color: #920000;
}

.tip__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 30px;
  color: #333;
  max-width: 580px;
}

/* ==============Ask Question================== */

.registration__section {
  background-image: url("../img/medicine.svg");
  background-repeat: no-repeat;
  background-color: #c96464;
  background-size: auto 80%;
  background-position: calc(60% + 200px) center;
}

.registration__section .container {
  padding: 50px 100px;
}

.registration__heading {
  max-width: 450px;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.registration__text {
  margin: 0;
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.registration__form {
  max-width: 400px;
  margin-right: auto;
}

.registration__input {
  width: 100%;
  padding: 10px 25px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 5px;
}

.registration__textarea {
  min-width: 100%;
  max-width: 100%;
  padding: 15px 25px;
  max-height: 165px;
  min-height: 165px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 16px;
  line-height: 1.2;
  outline: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #112149;
}

.registration__textarea:focus {
  border-color: #00B031;
}

.registration__input:not(:placeholder-shown):invalid {
  border-color: #D81D04;
}

.registration__input:valid {
  border-color: #00B031;
}

.registration__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  color: #112149;
}

.registration__button{
  background-color: #112149;
}

.registration__button:hover{
  color:  #112149;
  background-color: #fff;
}

/* ====================ABOUT US===================== */

.about-hero{
  padding: 50px 0;
  text-align: center;
}

.about-hero-text{
  font-size: 32px;
  line-height: 1.2;
  color: #112149;
}

.about-section{
  padding: 50px 0;
  background: #eee;
}

.about-list{
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  color:  #112149;
}

.about-item{
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  text-align: center;
}

.about-img{
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.about-numbers{
  font-size: 40px;
  color: #920000;
  margin-bottom: 20px;
}

.price-list{
  padding: 50px 0;
}

.price-list-text{
  color: #112149;
  font-size: 28px;
}

.consultation {
  border-collapse: collapse;
  width: 100%;
}

.consultation td, .consultation th {
  border: 1px solid #ddd;
  padding: 10px 15px;
  color: #112149;
}

.consultation tr:nth-child(even){
  background-color: #eee;
}

.consultation th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #920000;
  color: white;
}

/* ==============review=========== */

.about-review{
  padding: 50px 0;
}

.about-review-info{
  width: 100%;;
}

.new-review{
  display: flex;
  background-color: #eeeeee;
  border-radius: 5px;
}
.new-review input{
  display: block;
  flex-grow: 1;
  background-color: #eee;
  border: none;
  padding: 20px;
  margin-right: 15px;
}

.new-review button{
  border: none;
  padding: 0 15px;
  color: #920000;
}
.new-review input:focus, .new-review button:focus{
  outline: none;
  box-shadow: none;
}

.review{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.review li{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #112149;
  text-transform: capitalize;
  background-color: #fff;
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 13px 30px -10px rgba(130,131,143,1);
}

#reviewList button{
  display: block;
  min-width: 30px;
  max-width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  background-image: url('../img/minus.svg');
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
}

#reviewList button:focus{
  outline: none;
  box-shadow: none;
}


/* RESPONSIVE =============================================== */

@media only screen and (max-width:1200px){
  .contacts-hero{
    background-image: none;
  }

  .contacts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contacts__address{
    margin-left: 0;
  }

  .contacts-hero-info{
    margin-left: 0;
  }
}

@media only screen and (max-width:1000px) {
  .page-heading{
    font-size: 48px;
    margin-bottom: 15px;
  }
  
  .services-hero{
    margin-top: 0;
    background-position: calc(30% + 390px) center;
    background-size: auto 70%;
  }
  
  .services-hero-info {
    margin-left: 60px;
  }
  
  .faq-main{
    margin: 0;
    background-size: 40% auto;
    background-position: calc(50% + 250px) 100px;
  }
  
  .faq-container{
    padding-top: 60px;
  }
  
  .tips__list{
    background-image: none;
  }

  .company-img{
    max-width: 450px;
  }

  .registration__section {
    background-size: auto 60%;
  }
}

@media only screen and (max-width:920px){
  .services__list{
    margin-left: auto;
    margin-right: auto;
  }
  
  .service{
    width: 650px;
    margin-right: 0;
    margin-left: 0;
  }
  
  .faq-container{
    padding-left: 50px;
  }

  .contacts-hero{
    margin-top: 0;
  }

  .contacts-location h2{
    font-size: 36px;
    margin-bottom: 30px;
  }

  .registration__section {
    background-size: auto 50%;
  }

  .registration__heading{
    max-width: 100%;
    font-size: 36px;
  }

  .registration__section .container{
    padding: 50px 0;
    padding-left: 30px;
    padding-right: 50px;
  }

  .about-hero-text{
    font-size: 24px;
  }

  .about-hero-img{
    max-width: 500px;
    height: auto;
  }

  .about-review{
    padding: 30px 0;
  }

  .about-review h3{
    font-size: 36px;
    margin-bottom: 20px;
  }

  .about-list{
    max-width: 600px;
  }

  .about-item{
    margin: 0 45px;
    margin-bottom: 50px;
  }

  .about-section{
    padding-bottom: 0;
  }
}

@media only screen and (max-width:750px) {
  .services-hero{
    background-position: calc(30% + 250px) center;
    background-size: auto 60%;
  }
  
  .services-hero-info {
    max-width: 320px;
    margin-left: 40px;
  }
  
  .service{
    width: 550px;
  }
  
  .faq-main {
    background-position: calc(50% + 200px) 70px;
  }
  
  .faq-container{
    padding-bottom: 50px;
  }
  
  .faq__heading{
    font-size: 54px;
  }
  
  .faq__hero-text{
    max-width: 350px;
  }

  .registration__section{
    background-image: none;
  }

  .registration__section .container{
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .registration__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .about-hero{
    padding: 30px 0;
  }

  .about-hero h2{
    font-size: 40px;
  }

  .about-hero-text{
    font-size: 18px;
  }

  .about-hero-img{
    max-width: 400px;
    height: auto;
  }

  .price-list{
    padding: 30px 0;
  }
}

@media only screen and (max-width:650px){
  .services-hero{
    padding: 30px 0;
    background-size: auto 60%;
  }
  
  .page-heading{
    font-size: 40px;
  }
  
  .services-hero-info {
    padding: 0;
  }
  
  .service{
    width: 450px;
  }
  
  .faq-main{
    background-image: none;
  }
  
  .faq-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
  }
  
  .faq__hero-text{
    max-width: 70%;
  }
  
  .tips__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tips__item{
    padding: 30px 20px;
    margin-bottom: 30px;
  }

  .company-img{
    max-width: 320px;
    height: auto;
  }

  .contacts__company-adress{
    margin-right: 50px;
  }

  .contacts__worktime{
    margin-right: 50px;
  }
}

@media only screen and (max-width:550px){
  .services-hero{
    background-image: none;
  }
  
  .services-hero-info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .service-page-info{
    margin-bottom: 0;
  }
  
  .services-services{
    padding: 30px 0;
  }

  .faq__heading{
    font-size: 48px;
  }

  .tip__heading{
    font-size: 18px;
    margin-bottom: 0;
  }

  .tip__text{
    margin-top: 12px;
  }

  .contacts__address{
    flex-direction: column;
    align-items: center;
  }

  .contacts__company-adress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__worktime{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .contacts__contact{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }

  .contacts-hero{
    padding: 30px 0;
  }

  .contacts-location{
    padding: 30px 0;
  }

  .contacts__worktime::before,
  .contacts__address::before,
  .contacts__contact::before{
    margin-bottom: 0;
  }

  .about-hero h2{
    font-size: 46px;
  }

  .about-hero-text{
    font-size: 16px;
  }

  .about-hero-img{
    max-width: 300px;
  }

  .about-item{
    margin: 0 20px;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width:500px){
  .service{
    width: 320px;
  }

  .registration__heading{
    font-size: 32px;
  }

  .registration__textarea{
    font-size: 14px;
    padding: 8px 15px;
  }

  .registration__input{
    padding: 8px 15px;
  }

  .registration__input::placeholder{
    font-size: 14px;
  }

  .about-list{
    flex-direction: column;
    align-items: center;
  }

  .about-numbers{
    font-size: 48px;
  }

  .about-feature{
    font-size: 28px;
  }

  .about-item{
    width: 250px;
  }

  .consultation{
    font-size: 14px;
  }

  .price-list-text{
    font-size: 22px;
    margin-top: 0;
  }

  .about-review h3{
    font-size: 30px;
  }

  .about-hero h2{
    font-size: 38px;
  }

  .about-hero-text{
    font-size: 14px;
  }
}