/* Fonts were taken from this source: https://blogfonts.com/futura-pt.font */

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  color: #949494;
  background-color:#F9F8F8; 
}

img{
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1390px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Button */

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 27px;
  border: none;
  background: none;
  background-color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

/* Section Heading */

.section-heading{
  margin: 0;
  margin-bottom: 80px;
  font-size: 40px;
  line-height: 1.2;
  color: #920000;
  text-align: center;
}

/* Inner Heading */

.inner-heading{
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: #333333;
}

/* --------------------Site Header----------------- */

.site-header-top{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  background-color: #F9F8F8;
}

.site-header-top-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 178px;
}

.clinic-address{
  display: flex;
  align-items: center;
  font-style: normal;
  margin-right: 8px;
}

.phone-numbers{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 20px;
  margin-left: 20px;
}

.phone-link{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.phone-link:hover{
  color: #920000;
}

.phone-link:active{
  color: #333333;
  opacity: 0.5;
}

.dot{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 9px;
  background-color: #920000;
}

.working-hours{
  display: flex;
  align-items: center;
}

.working-hours span{
  display: inline-block;
}

.working-hours span:not(:last-child){
  margin-right: 17px;
}

/* Site Navigation */

.site-nav{
  background-color: #FFFFFF;
  border: 1px solid #F3F3F3;
}

.site-nav-content{
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo-link-wrapper{
  display: flex;
  align-items: center;
  width: 178px;
}

.logo-link{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
}

.logo-link:hover{
  opacity: 0.8;
}

.logo-link:active{
  opacity: 0.5;
}

.logo{
  width: 180px;
  height: 180px;
  display: block;
}

/* nav menu */

.nav-menu{
  display: flex;
  justify-content: center;
  max-width: calc(100% - 388px);
  padding: 0;
  margin: 0 15px;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav-item{
  display: flex;
  flex-direction: column;
}

.nav-link{
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 19px 27px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.nav-link:hover{
  color: #fff;
  background-color: #920000;
}

.nav-link:active{
  opacity: 0.5;
}

.btn-ask-question{
  align-self: center;
  display: flex;
  max-height: 60px;
  align-items: center;
  color: #333333;
  background-color: transparent;
  transition: background-color 0.3s ease,
  opacity 0.3s ease;
}

.btn-ask-question:hover{
  color: #fff;
  background-color: #920000;
}

.btn-ask-question:active{
  opacity: 0.5;
}

.nav-link-active{
  color: #920000;
}

.nav-link-active:hover,
.nav-link-active:active{
  background-color: transparent;
  opacity: 1;
}

/* Promo Section */

.promo-section{
  
  padding-top: 100px;
  padding-bottom: 50px;
}

.promo-section-content{
  display: flex;
  justify-content: space-between;
}

.promo-img{
  width: 576px;
  object-fit: cover;
}

.promo-info{
  max-width: 600px;
  margin-left: 50px;
}

.page-heading{
  margin: 0;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 1.2;
  color: #333333;
}

.page-heading span{
  color: #920000;
  display: inline-block;
}

.page-info{
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
}

.btn-our-services{
  min-width: 180px;
  max-width: 180px;
  padding: 15px;
  border-radius: 3px;
  transition: background-color 0.3s ease,
  opacity 0.3s ease,
  color 0.3s ease;
}

.btn-our-services:hover{
  background-color: #920000;
}

.btn-our-services:active{
  opacity: 0.5;
}

/* Feature Section */

.feature-section {
  padding: 50px 0;
  background-color: #BDEAFF;
}

.feature-section__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__left{
  max-width: 650px;
  margin-right: 30px;
}

.feature-section__heading {
  position: relative;
  padding-top: 58px;
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
}

.feature-section__heading::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 4px;
  background-color: #920000;
  content: "";
}

.feature__img{
  width: 650px;
  height: 396px;
}

.feature-section__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.feature-section__item {
  margin-top: 15px;
  margin-bottom: 15px;
}

.feature__name {
  margin-top: 0;
  margin-bottom: 15px;
  color: #920000;
}

.feature__text {
  margin: 0;
  color: #333;
  font-size: 16px;
}


/* Comments Section */

.comments-section{
  padding: 50px 0;
}

.comments-section-content{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.comments-section-content h2{
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.comments-section-heading{
  font-size: 20px;
  line-height: 1.5;
  color: #333333;
}

.comments-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -15px;
  margin-left: -15px;
}

.comment-wrapper{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.comment-avatar{
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
  border-radius: 50%;
  border: 1px solid #920000;
}

.comment{
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #949494;
}

.comment-author{
  margin: 0;
  font-weight: 500;
  color: #920000;
  text-align: center;
}

/* Services Section */

.services-section{
  padding: 50px 0;
}

.services-section-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-section-heading{
  margin-top: 0;
  margin-bottom: 80px;
}

.services-list{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style-type: none;
}

.services-item{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 15px;
  margin-left: 15px;
}

.services-link{
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  white-space: wrap;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.services-link::before{
  display: block;
  width: 160px;
  height: 120px;
  margin-bottom: 21px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

/* https://pixabay.com/photos/stethoscope-doctor-medical-1584223/ */
.services-consultation::before{
  background-image: url(../img/consultation.jpg);
}

/* https://pixabay.com/photos/surgery-hospital-doctor-operation-3034133/ */
.services-surgery::before{
  background-image: url(../img/surgery.jpg);
}

/* https://pixabay.com/photos/dentist-dental-care-dental-check-up-428645/ */
.services-dentistry::before{
  background-image: url(../img/dentistry.jpg);
}

/* https://pixabay.com/photos/laboratory-analysis-chemistry-2815641/ */
.services-labaratory::before{
  background-image: url(../img/labaratory.jpg);
}

/* https://pixabay.com/photos/acne-pimples-spots-zits-skin-5561750/ */
.services-dermatology::before{
  background-image: url(../img/dermatalogy.jpg);
}

/* https://pixabay.com/photos/head-massage-treatment-relaxation-650878/ */
.services-spa::before{
  background-image: url(../img/spa.jpg);
}

.services-link span{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-link:hover span{
  color: #920000;
}

.services-link:active{
  opacity: 0.5;
}

/* ------------------Site Footer------------------ */

.site-footer{
  padding-top: 50px;
  padding-bottom: 25px;
  background-color: #F3F3F3;
}

.site-footer-content{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-nav-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 300px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer-nav-item{
  min-width: 150px;
  margin-bottom: 14px;
}

.footer-nav-link{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}

.footer-nav-link:hover{
  color: #920000;
  background-color: transparent;
}

.footer-nav-link:active{
  opacity: 0.5;
}

.footer-nav-header{
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  color: #920000;
}

.footer-middle{
  margin: 0 30px;
}

.footer-working-hours{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.footer-clinic-address{
  position: relative;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  color: #333333;
}

.footer-phone-numbers{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: start;
}

.footer-phone-numbers a{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s ease,
  opacity 0.3s ease;
  white-space: nowrap;
}

.footer-phone-numbers a:not(:last-child){
  margin-bottom: 4px;
}

.footer-phone-numbers a:hover{
  color: #920000;
}

.footer-phone-numbers a:active{
  color: #333333;
  opacity: 0.5;
}

.footer-socials{
  display: flex;
  padding: 0;
  margin: 0 -8px;
  list-style-type: none;
}

.footer-socials-item{
  padding: 0 8px;
}

.footer-link-active{
  color: #920000;
}

.footer-link-active:hover,
.footer-link-active:active{
  background-color: transparent;
  opacity: 1;
}

.footer-rights{
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
  text-align: right;
}

/* ================= SERVICES ======================= */

.services-hero {
  padding: 50px 0;
  margin-top: 50px;
  background-image: url("../img/service-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(30% + 455px) center;
  background-size: contain;
}

.services-hero-info {
  padding: 50px 0;
  max-width: 450px;
  margin-left: 120px;
}

.services-services{
  padding: 50px 0;
}

.services__list {
  max-width: 100%;
  display: flex;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
}

.service {
  width: 400px;
  flex-shrink: 0;
  margin: 0 20px;
  margin-bottom: 37px;
  padding: 50px 22px  45px 50px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  transition: filter ease 0.3s;
  display: flex;
  flex-direction: column;
}

.service:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
}

/* https://pixabay.com/photos/stethoscope-doctor-medical-1584223/ */
.service::before {
  width: 180px;
  height: 100px;
  content: '';
  display: inline-block;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/consultation.jpg");
}

/* https://pixabay.com/photos/surgery-hospital-doctor-operation-3034133/ */
.service:nth-child(2):before {
  background-image: url("../img/surgery.jpg");
}

/* https://pixabay.com/photos/dentist-dental-care-dental-check-up-428645/ */
.service:nth-child(3):before {
  background-image: url("../img/dentistry.jpg");
}

/* https://pixabay.com/photos/laboratory-analysis-chemistry-2815641/ */
.service:nth-child(4):before {
  background-image: url("../img/labaratory.jpg");
}

/* https://pixabay.com/photos/acne-pimples-spots-zits-skin-5561750/ */
.service:nth-child(5):before {
  background-image: url("../img/dermatalogy.jpg");
}

/* https://pixabay.com/photos/head-massage-treatment-relaxation-650878/ */
.service:nth-child(6):before {
  background-image: url("../img/spa.jpg");
}

/* https://pixabay.com/photos/investigation-stethoscope-to-listen-2458540/ */
.service:nth-child(7):before {
  background-image: url("../img/pediatrics.jpg");
}

/* https://pixabay.com/photos/psychology-psyche-mask-wire-rack-2706902/ */
.service:nth-child(8):before {
  background-image: url("../img/psychology.jpg");
}

.service__name {
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  width: 100%;
  color: #333333;
  white-space: pre-wrap;
  margin-top: 0;
  margin-bottom: 14px;
  word-break: break-word;
}

.service__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
}

.service:hover .service__text{
  color: #920000;
}

/* ==================== CONTACTS ===================== */
.contacts-hero {
  margin-top: 50px;
  padding: 50px 0;
  background-image: url("../img/contacts-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(75% + 120px) center;
  background-size: contain;
}

.contacts-hero-info{
  max-width: 450px;
  margin-left: 140px;
  margin-bottom: 30px;
}

.contacts__address {
  display: flex;
  margin-left: 100px;
}

.contacts__company-adress {
  width: 153px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  color: #333333;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  align-items: flex-start;
}

.contacts__company-adress::before, 
.contacts__worktime::before, 
.contacts__telnumbers::before {
  height: 96px;
  width: 96px;
  display: inline-block;
  margin-bottom: 30px;
  content: '';
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

.contacts__company-adress::before {
  background-image: url("../img/location.png");
}

.contacts__worktime {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.contacts_worktime-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  margin: 0;
}

.contacts_worktime-text + .contacts_worktime-text {
  margin-top: 8px;
}

.contacts_worktime-text span {
  font-weight: 500;
}

.contacts__worktime::before {
  background-image: url("../img/calendar.png");
}

.contacts__telnumbers {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__telnumber-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: right;
  text-decoration: none;
  color: #333333;
}

.contacts__telnumbers::before {
  background-image: url("../img/phone.png");
}

.contacts__telnumber-link:hover{
  color: #920000;
}

.contacts__telnumber-link:active{
  opacity: 0.6;
}

.contacts-location{
  padding: 50px 0;
}

.contacts-map {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.company-img {
  flex-shrink: 1;
}
